name: assignment3

on:
  push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build image
      run: |
        echo "$(date -Iminutes)" > log.txt
        echo "Oren Savich, Itay Tiomkin" >> log.txt
        docker build -t books-service -f books/Dockerfile books
        if [ $? -eq 0 ]; then
          echo "image successfully built" >> log.txt
        else
          echo "image not able to be built" >> log.txt
        fi
    - uses: actions/upload-artifact@v4
      with:
        name: log-file
        path: log.txt

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Docker Compose
      run: |
        docker-compose up -d
        if [ $? -eq 0 ]; then
          echo "Container up and running" >> log.txt
        else
          echo "Container failed to run" >> log.txt
        fi
    - name: Install dependencies
      run: |
        pip install pytest requests
    - name: Run tests
      run: |
        pytest -v tests/assn3_tests.py > assn3_test_results.txt
        if [ $? -eq 0 ]; then
          echo "tests succeeded" >> log.txt
        else
          echo "tests failed" >> log.txt
        fi
    - name: Shut down containers
      run: docker-compose down   
    - uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: assn3_test_results.txt
    - uses: actions/upload-artifact@v4
      with:
        name: log-file
        path: log.txt
        overwrite: true

  query:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Docker Compose
      run: docker-compose up -d
    - name: Execute queries
      run: |
        while IFS= read -r query; do
          echo "Executing query: $query"
          curl -X GET "http://localhost:5001/$query" -o response.txt
          echo "Query: $query" >> query_log.txt
          echo "Response:" >> query_log.txt
          cat response.txt >> query_log.txt
          echo "\n" >> query_log.txt
        done < query.txt
    - uses: actions/upload-artifact@v4
      with:
        name: query-results
        path: query_log.txt
